{% extends "tugas2/layout/base.html" %} {% load staticfiles%} {% block content %}
<!DOCTYPE html>
<div class="profileData col-md-12">
    <h4 id="welcome"></h4>
    <h3 id="nameCompany"></h3>
    <div id="pictureCompany"></div>
    <div id="button"></div>
    <div id="info">
        <p id="typeCompany"></p>
        <p id="webCompany"></p>
        <p id="specialCompany"></p>
        <p id="describeCompany"></p>
    </div>
</div>
<script type="text/javascript">
    var logged_in;
    function onLinkedInLoad() {
        logged_in = IN.User.isAuthorized();
        if(logged_in){
            IN.Event.on(IN, "auth", getSessionCompanyData);
            munculButton();
        }else{
            alert("Silakan masuk menggunakan akun LinkedIn Anda terlebih dahulu!");
            window.location = "{% url 'app_home:index' %}";
        }
    }

    function getSessionCompanyData() {
        document.getElementById("welcome").innerHTML = 'Selamat Datang di LinkedIn Job!';
        document.getElementById("nameCompany").innerHTML = sessionStorage.getItem("company_name");
        document.getElementById("pictureCompany").innerHTML = '<img align="middle" src="' + sessionStorage.getItem("company_logo") + '"</img>';
        document.getElementById("typeCompany").innerHTML = 'Tipe Perusahaan : ' + sessionStorage.getItem("company_type");
        document.getElementById("webCompany").innerHTML = 'Web Perusahaan   : <a href="http://' + sessionStorage.getItem("company_web") + '/"> http://' + sessionStorage.getItem("company_web") + '/</a>';
        document.getElementById("specialCompany").innerHTML = 'Spesialitas  : ' + sessionStorage.getItem("arrOfSpecialties"); 
        document.getElementById("describeCompany").innerHTML = 'Deskripsi : ' + sessionStorage.getItem("company_description");
    }

    function munculButton(){
        document.getElementById("button").innerHTML =  '<a href="{% url 'app_forum:index' %}" class="btn btn-primary button-profile"> Lihat Forum </a> '
        + '<a href="" class="btn btn-danger button-profile"> Cari Mahasiswa </a>'
    }
</script>
{% endblock %}
