{% extends "tugas2/layout/base.html" %} {% load staticfiles%} {% block content %}
<div class="col-md-12 login"><script type="in/Login"></script></div>

<div id="feeds" style="display: none;">
    <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
    <div class="row">
        <div class="company-data">
            <img id="logo" src="">
            <h3 id="name"></h3>
        </div>
          {% if forum_list %}
            {% for lowongan in forum_list %}
            <a class="list-group-item clearfix">{{ lowongan.lowongan }}<br>{{ lowongan.created_date }}</a>
                {% endfor %}
          {% else %}
          <div class="alert alert-danger text-center">
              <strong>Oops!</strong> Tidak ada lowongan yang tersedia.
          </div>
          {% endif %}

    </div>
</div>

<script type="text/javascript">
  console.log('asd');
  // Setup an event listener to make an API call once auth is complete
  var logged_in;
  function onLinkedInLoad() {
      console.log('mulai');
      logged_in = IN.User.isAuthorized();
      // IN.User.authorize(function() {
      //   if(!logged_in){
      //   window.location = "{% url 'app_profile:index' %}";
      //   }
      // });
        IN.Event.on(IN, "auth", function() {
          getCompanyData();

        });
  }

  // Use the API call wrapper to request the company's profile data
  function getCompanyData() {
  	// Masukin ID company lau
      var cpnyID = 13600560;
      IN.API.Raw("/companies/" + cpnyID + ":(id,name,description,logo-url,specialties,website-url,company-type)?format=json")
        .method("GET")
        .result(SaveCompanyData)
        .error(onError);
        document.getElementById('feeds').style.display = 'block';
  }
  function SaveCompanyData(data){

      console.log(data);
      //save to session
      sessionStorage.setItem("company_description",data.description);
      sessionStorage.setItem("company_id",data.id);
      sessionStorage.setItem("company_logo",data.logoUrl);
      sessionStorage.setItem("company_name",data.name);
      sessionStorage.setItem("company_type",data.companyType.name);
      sessionStorage.setItem("arrOfSpecialties",data.specialties.values);
      sessionStorage.setItem("company_web",data.websiteUrl);
      sessionStorage.setItem("company_description",data.description);
      //retreive
      var name = sessionStorage.getItem("company_name");
      var icon = sessionStorage.getItem("company_logo");
      //show in html
      document.getElementById("logo").src = icon;
      document.getElementById("name").innerHTML = name;

      if (!logged_in) {
        window.location = "{% url 'app_profile:index' %}";
      }
  }

  // Handle an error response from the API call
  function onError(error) {
      console.log(error);
  }

  // Destroy the session of linkedin
  function logout(){
      IN.User.logout(removeCompanyData);
  }
  // Remove profile data from page
  function removeCompanyData(){
      document.getElementById('feeds').remove();
      sessionStorage.clear();
      window.location = "{% url 'app_home:index' %}";
  }
</script>
{% endblock %}
