{% extends "tugas2/layout/base.html" %} {% load staticfiles%} {% block content %}
<h1 class="main-title" id="forum-title">Forum Lowongan</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="">
            {% csrf_token %}
            <textarea name="lowongan" type="text" class="todo-form-textarea" placeholder="Masukan deskripsi lowongan pekerjaan" required="required" id="id_lowongan"></textarea>
            <input id="submit" type="submit" class="btn btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="forum-owner-info col-md-12">
            <h2 id="list-lowongan-title">Daftar Lowongan oleh</h2>
            <img id="lowongan-pic" src="">
            <h3 id="lowongan-owner"></h3>
        </div>
        <div class="forum-lowongan col-md-12">
            {% if forum %} {% for data in forum %}
            <p id="lowongan-detail">{{ data.lowongan }}</p>
            <p id="lowongan-date">{{ data.created_date }}</p>
            <hr>
            {% endfor %} {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada forum lowongan yang tersedia.
            </div>
            {% endif %}

            <div class="pagination col-md-12">
                <span class="step-links">
                    <ul class="pagination">
                    {% if forum.has_previous %}
                        <li><a href="?page=1">&laquo; first</a></li>
                        <li><a href="?page={{ forum.previous_page_number }}">previous</a></li>
                    {% endif %}
                    <li><span class="current">Page {{ forum.number }} of {{ forum.paginator.num_pages }}</span></li>
                    {% if forum.has_next %}
                        <li><a href="?page={{ forum.next_page_number }}">next</a></li>
                        <li><a href="?page={{ forum.next_page_number }}">last &raquo;</a></li>
                    {% endif %}
                    </ul>
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    var logged_in;
    function onLinkedInLoad() {
        logged_in = IN.User.isAuthorized();
        if(logged_in){
            IN.Event.on(IN, "auth", getSessionCompanyData);
        }else{
            alert("Silakan masuk menggunakan akun LinkedIn Anda terlebih dahulu!");
            window.location = "{% url 'app_home:index' %}";
        }
    }

    function getSessionCompanyData() {
        document.getElementById("lowongan-owner").innerHTML = sessionStorage.getItem("company_name");
        document.getElementById("lowongan-pic").src = sessionStorage.getItem("company_logo");
    }

    var addLowongan = function(company_id, lowongan){
        $.ajax({
            method: "POST",
            url : "{% url 'app_forum:add_forum' %}",
            data : {
                company_id: company_id,
                lowongan: lowongan
            },
            success: function(success){
                console.log("Diskusi lowongan terbaru berhasil ditambahkan!");
                window.location = "{% url 'app_forum:index' %}";

            },
            error: function(error){
                console.log("Diskusi lowongan terbaru gagal ditambahkan!");
            }
        });
    };

    $("#form").submit(function(e){
        var company_id = sessionStorage.getItem("company_id");
        var lowongan = $("#id_lowongan").val();
        addLowongan(company_id, lowongan);
        e.preventDefault();
    });
</script>
{% endblock %}

